.titleInput {
    all: inherit;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.descriptionTextArea {
    padding: 16px;
    flex-grow: 1;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    resize: none;
}

.cancel {
    margin-right: auto;
}

.delete {
    margin-left: 8px;
}

.urlList {
    margin-top: 16px;
    border-radius: 2px;
    border: 1px solid var(--gray);
}

.urlListItem {
    display: flex;
    justify-content: space-between;
}

.urlListItemEmpty {
    color: var(--gray);
    font-size: 0.8em;
}
